@import "../../variables";
$char-w: 1ch;
$gap: .2*$char-w;
$n-char: 9;
$in-w: $n-char*($char-w + $gap);


.popUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: $main-theme-f2;
    padding: $padding-container;
    padding-top: 97px;
    font-family: $font-sfpro-bold;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .text {
        font-weight: 650;
        font-size: 42px;
        max-width: 682px;
        line-height: 50px;
        color: black;
    }

    img {
        height: 35px;
    }

    form {
        margin-top: 60px;
        display: flex;
        gap: 60px;
        flex-wrap: wrap;
        flex: 1;

        .formNameTaker {
            display: flex;
            flex-direction: column;
            gap: 40px;
            position: relative;

            .numberInput {
                position: relative;
                font-size: 30px !important;
                display: block;
                margin: 0 auto;
                border: none;
                padding: 0;
                width: $in-w;
                background: repeating-linear-gradient(90deg,
                    dimgrey 0, dimgrey $char-w,
                    transparent 0, transparent $char-w + $gap) 0 100%/ #{$in-w - $gap} 2px no-repeat;
                font: 5ch droid sans mono, consolas, monospace;
                letter-spacing: $gap;

                &:focus {
                    outline: none;
                    color: rgb(12, 12, 12);
                }
            }
        }

        .numberCode {
            position: absolute !important;
            top: 165px;
            font-size: 30px;
        }


        .radioTaker {
            display: flex;
            flex-direction: column;
            gap: 20px;

            textarea {
                background-color: $main-theme-f2;
                border: none;
                font-size: 16px;
                width: 320px;
                border-bottom: 1px solid rgb(189, 186, 186);
                outline: none;
                height: 32px;
                margin-bottom: 25px;
            }

            label {
                color: gray;

                &:hover {
                    color: black;
                }
            }
        }
    }

    .buttonElement {
        margin-left: 50%;
        margin-bottom: 150px;
    }

    .popUpNavbar {
        height: 60px;
        display: flex;
        width: 100%;
        margin-bottom: 20px;

        ul {
            display: flex;
            list-style: none;
            width: 30%;
            // border: 2px solid white;
            gap: 95px;

            li {

                a {
                    color: $main-theme-dark;
                    text-decoration: none;
                    opacity: $text-font-opacity;
                    transition: .5s;

                    &:hover {
                        opacity: 1;
                        transition: .5s;
                    }

                }
            }
        }

        img {
            margin-left: auto;
        }
    }
}