@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@600&family=Encode+Sans+Semi+Expanded:wght@600&family=Montserrat&display=swap');

.serviceworks {
    width: 100%;
    background-color: #fafafa;
    height: 100vh;
}

.serviceworks__container {
    padding-top: 97px;
    padding-bottom: 97px;
    padding-left: 130px;
}

.serviceworks__header {
    padding-bottom: 25px;

    h2 {
        font-family: 'Encode Sans Expanded', sans-serif;
        font-style: normal;
        font-weight: 540;
        font-size: 32px;
        line-height: 32px;
        color: #000000;
    }
}

.serviceworks__choices {
    display: grid;
    grid-template-columns: 395px 559px;
    grid-row: auto auto;
    grid-column-gap: 40px;
    grid-row-gap: 10px;
}

.serviceworks__choise1 {
    width: 395px;
    transition: .5s;
    height: 143px;
    background: #fafafa;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 30px;
    padding-left: 30px;

    h2 {
        font-family: 'Encode Sans Expanded', sans-serif;
        font-style: normal;
        font-weight: 760;
        font-size: 32px;
        line-height: 38px;
        color: #000;
        padding-bottom: 12px;
        display: flex;
        align-items: center;

        img {
            padding-left: 7px;
        }
    }

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        opacity: 0.8;
    }

    ;
}

.serviceworks__choise1:hover {
    background-color: #000000;
    transition: .5s;

    h2 {
        color: #fff;
    }

    p {
        color: #fff;
    }

    ;
}

.serviceworks__choise2 {
    width: 559px;
    height: 143px;
    background: #fafafa;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 30px;
    padding-left: 30px;
    transition: .5s;

    h2 {
        font-family: 'Encode Sans Expanded', sans-serif;
        font-style: normal;
        font-weight: 760;
        font-size: 32px;
        line-height: 38px;
        color: #000000;
        padding-bottom: 12px;
    }

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        opacity: 0.8;
    }

    ;
}

.serviceworks__choise2:hover {
    transition: .5s;
    background-color: #000000;

    h2 {
        color: #fafafa;
    }

    p {
        color: #fafafa;
    }

    ;
}

.serviceworks__btn {
    width: 132px;
    padding-top: 84px;
}