@import "../../variables";

.header {
  background-color: $main-theme-dark;
  color: $main-text-color;
  font-family: $font-family;
  padding: $padding-container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;

  ul {
    display: flex;
    list-style: none;
    width: 30%;
    // border: 2px solid white;
    justify-content: space-between;

    li {

      a {
        color: $main-text-color;
        text-decoration: none;
        opacity: $text-font-opacity;

        &:hover {
          opacity: 1;
        }
      }
    }
  }


  .logo {
    display: flex;
    align-items: center;

    h1 {
      letter-spacing: 5px;
      margin-left: 12px;
      font-size: 18px;

    }
  }
}