@import "../../variables";
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@600&family=Encode+Sans+Semi+Expanded:wght@600&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.footer {
    // width: 100%;
    height: 100vh;
    background-color: #2A2A2A;
    overflow: hidden;
    position: relative;
}

.footer__container {
    max-width: 100%;
    margin: auto;
    margin-bottom: 49px;

    h1 {
        font-family: $font-sfpro-bold;
        font-style: normal;
        font-weight: 650;
        font-size: 42px;
        line-height: 32px;
        color: #FFFFFF;
        margin-bottom: 60px;

        img {
            height: 36px;
        }
    }
}

.branches {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.branches__name {

    ul {

        li {

            h2 {
                font-family: 'Encode Sans Expanded', sans-serif;
                font-style: normal;
                font-weight: 650;
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
                flex: none;
                order: 0;
                flex-grow: 0;
                margin-bottom: 10px;
            }

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
                opacity: 0.5;
                flex: none;
                order: 1;
                flex-grow: 0;
                margin-bottom: 30px;
            }
        }
    }
}

.footer__container_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__c2_left {
    position: relative;

    div {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 87.02%;
        letter-spacing: -0.12em;
        color: rgba(255, 255, 255, 0.49);
        position: absolute;
        left: 0;
        bottom: 0px;
        border: 2px solid;
    }
}

.footer__conclusion {
    font-family: 'Encode Sans Expanded', sans-serif;
    font-style: normal;
    font-weight: 650;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 60px;
}

.conclusion_starts {
    height: 30px;
}

.conclusion_man {
    height: 30px;
}

.footer__c2_right {
    position: relative;

    div {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 87.02%;
        text-align: right;
        letter-spacing: -0.12em;
        color: rgba(255, 255, 255, 0.49);
        position: absolute;
        right: 0;
        bottom: -165px;
    }
}