@import "../../variables";

.case {
    font-family: $font-sfpro-bold;
    width: 100%;
    min-height: 100vh;
    background-color: $main-theme-dark;
    box-sizing: border-box;
    color: $main-text-color;
    padding: 97px 130px;
    position: relative;

    button {
        left: 60%;
        bottom: 97px;
        position: absolute;
    }

    .title {
        font-size: 32px;
        font-weight: 600;
        line-height: 32px;

        img {
            width: 28px;
        }
    }
}