@import "../../variables";

@media only screen and (max-width: 768px){
    .swiper{
        width: 100%;
        height: 345px;
        text-align: center;
        margin: 65px 0 127px 0;
    }
    .swiper-slide{
        display: flex;
        justify-content: center;
    }
    .swiper-card-wrapper{
        margin-left: 41px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .mobile__swiper__card{
        box-sizing: border-box;
        padding: 60px 15px;
        width: 95%;
        min-width: 293px;
        background-color: #1E1E1E;
        height: 295px;
        img{
            max-width: 314px;
            height: 120px;
        }
        p{
            margin-top: 30px;
            font-size: 14px;
            opacity: 0.6;
        }
    }
    .swiper-button-next, .swiper-button-prev{
        color: inherit;
        top: 97%;
        width: 400px;
        
    }
    .swiper-button-next:after, .swiper-button-prev:after{
        font-size: 20px;
    }
}
@media only screen and (max-width: 500px){
    .swiper-button-next, .swiper-button-prev{
        width: 250px;
    }
    .mobile__swiper__card{
        img{
            max-width: 214px;
        }
    }
}

