@import "reset";
@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

.btns {
    color: #fff;
    background: $secondary-theme-dark;
    font-family: $font-family;
    text-align: center;
    border: 1px solid white;
    font-size: $btn-font-size;
    padding: 12px 30px;
    display: flex;
    transform: skew(-21deg);
    align-items: center;

    span {
        display: inline-block;
        transform: skew(21deg);
        margin-right: 16px;
        margin-bottom: 5px;
    }

    img {
        transform: skew(21deg);

    }
}